
<md-card style="padding:0">
    
    <md-card-content style="padding:20px">

      <form #form="ngForm" novalidate (ngSubmit)="onSubmit(form)"> 
        <div class="form-group" > 
        <md-input-container >
            <input #cname="ngModel" md-input [(ngModel)]="cName" pattern="...+" ngControl="cName" name="cName" placeholder="Name" required>
            <md-hint *ngIf="cname.invalid && cname.touched" class="error" >Company Name is required</md-hint>
        </md-input-container>
        </div>
        <md-input-container >
            <input md-input [(ngModel)]="cStreet" name="cStreet" placeholder="Street">
        </md-input-container>

        <md-input-container >
            <input md-input [(ngModel)]="cCity" name="cCity" placeholder="City">
        </md-input-container>
        
        <md-select [(ngModel)]="cState" name="cState" #selectedState
            placeholder="State" 
            (blur)="validateState(selectedState.value)"
            (change)="validateState(selectedState.value)">
            <md-option  value="default">Select a State...</md-option>
            <md-option *ngFor="let state of states" [value]="state.value">{{ state.viewValue }}</md-option>
        </md-select>
        <textarea md-input *ngIf="hasStateError" class="error" >Please select a valid state</textarea>
        
        <md-input-container >
            <input md-input [(ngModel)]="cZip" name="cZip" placeholder="Zip">
        </md-input-container>
        
        <md-input-container >
            <input md-input [(ngModel)]="cPhone" name="cPhone"  placeholder="Phone">
        </md-input-container>
        <md-input-container >
            <input md-input [(ngModel)]="cEmail" name="cEmail"  placeholder="Email">
        </md-input-container>
        <button md-raised-button color="accent" type="submit" (click)="addCompany($event)" 
            [disabled]="form.invalid">Add Company</button>
      </form>
    </md-card-content>
</md-card>

<hr>

<div style="width:100%">
{{ form.value | json }}
{{ form.controls.cName?.errors | json }}
<h4>{{ cname.dirty }}</h4>
</div>

<md-card style="width:50%;float:left;" *ngFor="let company of companies">
    <md-card-content style="height:150px;float:left">
<button md-raised-button color="primary" (click)="deleteCompany(company._id)">Delete Company</button> <br><br>   
        {{company.CompanyName}}<br>
        {{company.CompanyStreet}}<br>
        {{company.CompanyCity}}, 
        {{company.CompanyState}} 
        {{company.CompanyZip}}<br>
        {{company.CompanyPhone}}<br>
        {{company.CompanyEmail}}<br><br>
    </md-card-content>
</md-card>

<br><br>
