
.botBorder {
  border-bottom: 1px solid grey;
}

.toolbarStyles {
  background-color: cadetblue;
  color:white; 
  width: 100%;
  border-radius: 3px 3px 0 0;
  padding-top: 15px;
  text-align: center;
}

md-input-container {
  width: 100%
}

[hidden] {
  display: none !important;
}

md-hint{
  color: red;
}