
<md-card>
    <md-toolbar class="toolbarStyles botBorder">
      <md-card-title class="toolbarTitle">Company List</md-card-title>
    </md-toolbar>
    <md-card-content style="padding:20px">
        
        <md-input [(ngModel)]="cName" name="cName" placeholder="Company Name"></md-input><br>
        <md-input type="text" [(ngModel)]="cStreet" name="cStreet" placeholder="Company Street"></md-input><br>
        <md-input type="text" [(ngModel)]="cCity" name="cCity" placeholder="Company City"></md-input>
        <md-input type="text" [(ngModel)]="cState" name="cState" placeholder="Company State"></md-input>
        <md-input type="text" [(ngModel)]="cZip" name="cZip" placeholder="Company Zip"></md-input><br>
        <md-input type="text" [(ngModel)]="cPhone" name="cPhone"  placeholder="Company Phone"></md-input>
        <md-input type="text" [(ngModel)]="cEmail" name="cEmail"  placeholder="Company Email"></md-input><br>
        <button md-button type="submit" (click)="addCompany($event)">Add Company</button><br>
    </md-card-content>
</md-card>
<hr>

        <md-card style="width:50%;float:left" *ngFor="let company of companies">
        <md-card-content style="height:120px;float:left">
            {{company.CompanyName}}<br>
            {{company.CompanyStreet}}<br>
            {{company.CompanyCity}}, 
            {{company.CompanyState}} 
            {{company.CompanyZip}}<br>
            {{company.CompanyPhone}}<br>
            {{company.CompanyEmail}}<br><br>
        </md-card-content>
        </md-card>

        <br><br>
