
<div class="container">
<form class="well" (submit)="addCompany($event)">
    <div class="row">
        <div class="col-md-12">
        <input type="text" [(ngModel)]="cName" name="cName" class="form-control" placeholder="Company Name"><br>
        <input type="text" [(ngModel)]="cStreet" name="cStreet" class="form-control" placeholder="Company Street"><br>
        </div>
        <div class="col-md-6">
        <input type="text" [(ngModel)]="cCity" name="cCity" class="form-control" placeholder="Company City">
        </div>
        <div class="col-md-2">
        <input type="text" [(ngModel)]="cState" name="cState" class="form-control" placeholder="Company State">
        </div>
        <div class="col-md-4">
        <input type="text" [(ngModel)]="cZip" name="cZip" class="form-control" placeholder="Company Zip"><br>
        </div>
        <div class="col-md-6">
        <input type="text" [(ngModel)]="cPhone" name="cPhone" class="form-control" placeholder="Company Phone">
        </div>
        <div class="col-md-6">
        <input type="text" [(ngModel)]="cEmail" name="cEmail" class="form-control" placeholder="Company Email"><br>
        </div>
        <div class="col-md-6">
        <input type="submit" class="btn btn-success" value="Add Company" (click)="addCompany($event)"><br>
        </div>
    </div>
</form>
<hr>
<div class="my-worklist">
    <div *ngFor="let company of companies">
        <!--<div class="col-md-1">
            <input type="checkbox" [checked]="task.isDone" (click)="updateStatus(task)" >
        </div>-->
        <div class="col-md-7">
            {{company.CompanyName}}<br>
            {{company.CompanyStreet}}<br>
            {{company.CompanyCity}}, 
            {{company.CompanyState}} 
            {{company.CompanyZip}}<br>
            {{company.CompanyPhone}}<br>
            {{company.CompanyEmail}}<br><br>
            <hr>
        </div>
        <!--<div class="col-md-4">
            <input type="button" (click)="deleteTask(task._id)" value="Delete" class="btn btn-danger">
        </div>-->
        <br><br>
    </div>
</div>
</div>